    <ul>
        <% @item.reviews.each do |review| %>
        <li>
            <%= review.customer.username %><br>
            <% review.rating.times do  %>
               🌟
            <% end %><br>
        <%= review.body %>
        </li>
        <% end %>
    </ul>
